@charset "utf-8";
/*----reset----*/
html,body,h1,h2,p,ul,li{
margin: 0;
padding: 0;
line-height: 1.0;
font-family:"Hiragino Kaku Gothic ProN",Meiryo, sans-serif;
}
ul{
list-style: none;
}
a {
text-decoration: none;
color: inherit;
}
img {
border: none;
vertical-align: bottom;
max-width: 100%;
height: auto;
}
/*共通css*/
.container {
width: 960px;
margin:0 auto;
display: flex;
}
 
/*Header*/
header.container{
padding: 10px 0;
justify-content: space-between;
align-items: center;
}
h1{
background: url(../img/logo.png) no-repeat;
height: 46px;
/*text非表示*/
text-indent: 100%;
/*
white-space: nowrap;
overflow: hidden;
*/
}
 
/*Key visual*/
.keyVis{
background: url(../img/sofa.jpg) no-repeat center/cover;
padding: 120px 0 ;
}
.keyVis>.container{
display: block;
font-size:44px;
color: #fff;
font-family: 'Italianno', cursive;
text-shadow: 2px 2px 2px #900;
}
.keyVis span{
display: block;
font-size:100px;
}
 
/*----Navigation---- */
nav{
background: url(../img/btn_bg.png) repeat-x left top;
margin-bottom: 30px;
}
nav li {
width: 20%;
line-height:44px;
font-size: 14px;
text-align: center;
}
nav li a {
display: block;
color: #fff;
border-left: 1px solid #fff;
}
nav li:first-child a{
border-left: none;
}
nav li a:hover {
background: url(../img/btn_bg.png) repeat-x left bottom;
}
 
/*2カラムレイアウト*/
.wrap{
justify-content: space-between;
margin-bottom:50px;
}
main{
width:65.6%;
}
.sidebar {
width:31.2%;
}
 
/*コンテンツ*/
main h2 {
font-size: 28px;
color:#900;
border-bottom: solid 1px #aaa;
padding-bottom:5px;
margin-bottom:10px;
}
main p {
margin-bottom: 10px;
line-height: 1.5;
}
main span{
display: block;
font-size: 20px;
font-weight: bold;
color: #d30;
margin-bottom: 10px;
}
main img{
border:10px solid #bd0202;
}
 
/*----サイドバー----*/
.sidebar img {
margin-bottom: 50px;
}
.sidebar h2 {
font-size: 28px;
color: #d30;
margin-bottom:10px;
}
.sidebar li{
line-height: 44px;
border-bottom: solid 1px #aaa;
}
.sidebar li:first-child{
border-top: solid 1px #aaa;
}
.sidebar li a {
display: block;
background: url(../img/listmark.png) no-repeat left center;
padding-left: 20px;
}
.sidebar li a:hover {
background-color:#fdc;
}
 
/*----Footer----*/
footer {
background:#d30;
color:#fff;
padding:30px 0;
}