@charset "utf-8";

/* CSS Reset Start
/* reset ブロックレベル要素のみ
/*ブラウザによって異なるデフォルトのCSSを打ち消してブラウザ間の表示を揃える
============================================= */
html,
body,
h1,
h2,
p,
ul,
li
{
 margin:0;
 padding:0;
 line-height:1.0;       /*行の高さ　単位を付けない*/
 font-family:"Hiragino kaku Gothic ProN",  /*Mac*/
 Meiryo,                /*Win*/
 sans-serif;            /*その他ゴシック系*/
}

                        
img{
 border:none;           /*画像の境界線を非表示にする*/
                        /*画像にリンクを設定すると、一般的なブラウザでは自動的に境界線が表示される。*/
 vertical-align:bottom; /*初期設定画像の下の空白を取る*/
/*レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
 max-width:100%;        /*親要素のwidth幅の100%の値*/
                        /*♦フルードイメージ（Fluid Image）-ウィンドウサイズ（または親要素の幅）に応じて、縦横比を保持したまま自動的に画像が拡大・縮小するようにする手法、最大幅は元画像の幅*/
 height:auto;           /*横幅と同比率で高さも自動調整*/
}

ul{
 list-style:none;       /*黒丸を非表示にする*/
}

a{
 text-decoration:none;  /*文字の下線を消す*/
 color:inherit;         /*文字の色を親要素から取得*/
}

/*ユニバーサルセレクター（全称セレクター）*/
/**{*/
/* box-sizing:border-box;*/
/*}*/



/*--共通設定--*/





/*****<< コンテンツ幅設定 >>*****/
/***<< header,nav,(main,sidebar),footer >>***/
/*レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
.container{
 max-width:960px;   /*PC幅1000前後が通常*/
                    /*♦最大幅を固定値に-最大横幅をmax-widthで設定*/
 margin:0 auto;     /*左右中央寄せ :上下 左右;*/
 display:flex;
}


/*****<< コンテンツ幅設定 >>*****/
/***<< (main,sidebar) >>***/
/*2カラムレイアウト*/
main{
/* width:630px;*/
 width:65.6%;
}

.sidebar{
/* width:300px;*/
 width:31.2%;
}



/* <HEADER> ヘッダー
# 0<HTML> 2/2<BODY> 1/4<HEADER>
============================================= */
header.container{
 padding:10px 0;
 justify-content:space-between;
 align-items:center;
}

h1{
 background-image:url(../img/logo.png);
 background-repeat:no-repeat;  /*背景画像を繰り返さない*/
 height:46px;                  /*背景画像の高さを確保*/
 text-indent:100%;             /*text非表示1 字下げ*/
 white-space:nowrap;           /*text非表示2 改行をさせない*/
 overflow:hidden;              /*text非表示3 はみ出た文字を隠す*/
}



/* <DIV> キーヴィジュアル
# 0<HTML> 2/2<BODY> 0/4<DIV>
============================================= */
.keyVis{
 background:
 url(../img/sofa.jpg)
 no-repeat
 center/cover;                      /*中央　拡大縮小*/
 padding:120px 0;
}

.keyVis>.container{
 display:block;                     /**/
 font-size:44px;                    /*文字サイズ*/
 color:#fff;                        /*文字色*/
 font-family:'Italianno',cursive;   /*google font*/
 text-shadow:2px 2px 2px #900;      /*文字に影 右:下:ぼかし:色*/
}

.keyVis span{
 display:block;
 font-size:100px;
}




/* <NAV> ナビゲーション
# 0<HTML> 2/2<BODY> 2/4<NAV>
============================================= */
/* パソコン用
# 0<HTML> 2/2<BODY> 2/4(1/2)<PCNAV>
_____________________________________________ */
.pcnav{
 background:
 url(../img/btn_bg.png)
 repeat-x
 left top;
 margin-bottom:30px;
}

.pcnav ul{
/* display:flex;*/
/*コンテンツ幅。ボタン間に、余りを均等に配置*/
/* justify-content:space-between;*/
}

/*ナビゲーション　文字（文言）*/
.pcnav li{
 text-align:center;
 line-height:44px;
 font-size:14px;
/*レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
 width:20%;                 /* %で指定 */
                            /*♦横幅固定値に対して親ボックスに対する％で指定*/
                            /*コンテンツ幅に対して、ボタン数を考慮した、幅を指定*/
}

/*ナビゲーション　リンク*/
.pcnav li a{
 display:block; /*ブロック幅を広げる（無いと文字だけ）*/
 color:#fff;
 border-left:1px solid #fff;
}

nav li:first-child a{
 border-left:none;
}

/*aの上　マウスを合わせたときの背景色を変更*/
nav li a:hover{
 background:
  url(../img/btn_bg.png)
  repeat-x     /*背景画像サイズ151x88*で足りない横方向にrepeat-x*/
  left bottom; /*背景画像の下側を表示*/
}


/* スマホ用
# 0<HTML> 2/2<BODY> 2/4(2/2)<SPNAV>
_____________________________________________ */
.spnav,
.btn{
 display:none;
}



/* <MAIN> メインコンテンツ
# 0<HTML> 2/2<BODY> 3/4<MAIN>
============================================= */
/*2カラムレイアウト*/
.wrap{
 justify-content:space-between;
 margin-bottom:50px;
}

main h2{
 font-size:28px;
 color:#900;
 border-bottom:1px solid #aaa;
 padding-bottom:5px;    /*borderを付けたら必ずpadding-bottom*/
 margin-bottom:10px;
}

main p{
 margin-bottom:10px;
 line-height:1.5;
}

main span{
 display:block;          /*display改行させる*/
 font-size:20px;
 font-weight:bold;
 color:#d30;
 margin-bottom:10px;
}

main img{
 border:10px solid #bd0202;
}


/*<< 2-2 カテゴリー >>*/
.sidebar img{
 margin-bottom:50px;
}

.sidebar h2{
 font-size:28px;
 color:#d30;
 margin-bottom:10px;
}

/*カテゴリー　文字（文言）*/
.sidebar li{
 line-height:44px;
 border-bottom:1px solid #aaa;
}

.sidebar li:first-child{
 border-top:1px solid #aaa;
}


/*カテゴリー　リンク*/
.sidebar li a{
 display:block;  /*幅を広げる（無いと文字だけ）*/
 padding-left:20px;
 background:
 url(../img/listmark-1.png)
 no-repeat
 left center;
}

/*aの上　マウスを合わせたときの背景色を変更　文字*/
.sidebar li a:hover{
 background-color:#fdc; /*背景画像が消えるのでショートハンドはダメ*/
}



/* <FOOTER> フッター
# 0<HTML> 2/2<BODY> 4/4<FOOTER>
============================================= */
footer{
 color:#fff;
 background:#d30;
 padding:30px 0;
}





/*メディアクエリ　ブレイクポイント767px*/
@media screen and (max-width:767px){
.pcnav{
 display:none;
}

.spnav{
 display:block;
}

.wrap{
 display:block;
}








}