@charset "utf-8";

/* CSS Reset
   各ブラウザ（IE、FireFox、Chrome、safariなど）は、要素毎にデフォルトでスタイルを独自にもっており、ブラウザによって表示が異なる場合がある。それらの誤差を極力なくすために使用するスタイルシートを一般的に「リセットCSS」と呼ぶ。（ブロックレベル要素のみ）
   ※header/nav/main/aside/footer/divは記述しない場合もある
############################################# */
html
,body
,h1,h2
/*,h3,h4,h5,h6*/
,p
,ul,li
/*,ol*/
,dl,dt,dd
{
 margin:0;
 padding:0;
 line-height:1.0;       /*行の高さ　単位を付けない*/
 font-family:
  "Hiragino kaku Gothic ProN"  /*Mac*/
  ,Meiryo                      /*Win*/
  ,sans-serif;                 /*その他ゴシック系*/
}
                        
img{
 border:none;           /*画像の境界線を非表示にする*/
                        /*画像にリンクを設定すると、一般的なブラウザでは自動的に境界線が表示される。*/
 vertical-align:bottom; /*初期設定画像の下の空白を取る*/
}

ul
/*,ol*/          /*※番号を使用する場合はolは記述しない*/
{
 list-style:none;       /*黒丸を非表示にする*/
}

a{
 text-decoration:none;  /*文字の下線を消す*/
 color:inherit;         /*文字の色を親要素から取得*/
}

/*table{*/
/* border-collapse:collapse;*//*隣接するセルの線を重ねて表示*/
                        /*border-collapseプロパティは、隣接するセルのボーダーを重ねて表示するか（collapse）、間隔をあけて表示するか（separate）を指定*/
/* border-spacing:0;*/ /*隣接するセルの線と線の間隔を指定*/
                        /*border-spacingプロパティは、隣接するセルのボーダーとボーダーの間隔を指定する際に使用します。border-spacingプロパティは、border-collapseプロパティの値がseparateのときに有効。値を1つ指定した場合： [上下左右]の間隔が指定された値。値を2つ指定した場合： 記述した順に[左右][上下]の間隔が指定された値。*/
/*}*/

*{               /*ユニバーサルセレクタ（全称セレクタ）*/
                        /*アスタリスク（ * ）を記述してすべての要素を対象にスタイルを適用するセレクタ*/
 box-sizing:border-box; /*ボックスサイズの算出方法指定*/
                        /*値にborder-boxを指定すると、widthとheightで指定する幅と高さがボーダーボックスに対して適用されます。 内容領域にパディングとボーダーを含んだ範囲に対して幅と高さが適用されるため、パディングとボーダーの分だけボックスサイズが小さくなります。*/
                        /*content-box:パディングとボーダーを幅と高さに含めない（初期値）*/
}



/* 共通設定
############################################# */
/* レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
img{
 max-width:100%;    /*親要素のwidth幅の100%の値*/
                    /*♦フルードイメージ（Fluid Image）-ウィンドウサイズ（または親要素の幅）に応じて、縦横比を保持したまま自動的に画像が拡大・縮小するようにする手法、最大幅は元画像の幅*/
 height:auto;       /*横幅と同比率で高さも自動調整*/
}