@charset "utf-8";

/* #############################################
 header_00.css
############################################# */



/* #############################################
 共通設定
############################################# */
header
,h2,h3
,p
,footer
,.pcnav
,.caption
{
 color:#fff;
/* background:#08f;*/
}



/* コンテンツ幅設定
   header,nav,(main,sidebar),footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
.container{
/* width:960px;*/   /*PC幅1000前後が通常*/
/* max-width:1300px;*/  /*♦最大幅を固定値:max-widthで設定*/
/* padding:0 10px;*/    /*左右の余白調整*/
/* margin:0 auto;*/     /*左右中央寄せ :上下 左右;*/
}



/* #############################################
 レイアウト設定
############################################# */
.container{
 display:grid;
 grid-template-columns:15fr 85fr;
}

header{
 grid-row:1;
 grid-column:1;
 z-index:1;
}

.contents{
 grid-row:1;
 grid-column:2;
 display:flex;
 flex-wrap:wrap;
 z-index:0;
}



/* 上段（２）・下段（３）カラムレイアウト
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
/* 各BOXの高さ */
.ph{
 height:50vh;
}

/* 上段幅 */
.topL
,.topR
{
 width:calc(100% / 2);
}

/* 下段幅 */
.btmL
,.btmM
,.btmR
{
 width:calc(100% / 3);
}



/* #############################################
 個別設定
############################################# */
/* =============================================
 0-2-1/4 <HEADER> ヘッダー
============================================= */
body{
/* border-top:2px solid #ccc;*/
}

header{
/* background:url(../img/j-lee-wt1G1_9aL68-unsplash.jpg) no-repeat center bottom/cover;*/
 background:url(../img/wisteria-5145164_1280.jpg) no-repeat center center/cover;
}

.h1{
 border:5px outset #00f;
 margin:10px;
}

h1{
 font-size:0;
/* text-indent:100%;*/   /*text非表示1 字下げ*/
/* white-space:nowrap;*/ /*text非表示2 改行をさせない*/
/* overflow:hidden;*/    /*text非表示3 はみ出た文字を隠す*/
}

h1.logo{
 height:145px;
 background:url(../img/logo01.png) no-repeat center center/contain,rgba(255,255,255,0.8);
 margin:1px;
}


/* :hover 疑似クラス (ホバー状態の <a> 要素を選択)
カーソル（マウスポインタ―）で要素の上をホバー（通過）させたときにこの状態になる
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header a:hover h1.logo{
/* background-color:rgba(0,0,255,0.5);*/
 background-color:rgba(255,255,255,0.8);
 border:5px inset #fff;
 transition:0.3s;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-1(1/3) SECTION キャッチコピー
+++++++++++++++++++++++++++++++++++++++++++++ */
.contents_p02{
 position:fixed;
 top:45%;
 left:17%;
 font-size:45px;
 text-shadow:2px 2px 10px #00f;
 z-index:1;
}

.contents_p02 p{
/* font-family:'Dela Gothic One',cursive;*/
 font-family:'Train One',cursive;
/* font-family:'Potta One',cursive;*/
}

p.bounce{
 padding-bottom:40px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-1(2/3) SECTION ロゴ
+++++++++++++++++++++++++++++++++++++++++++++ */
.logo1{
 position:fixed;
 top:10px;
 right:10px;
 width:300px;
 height:60px;
 background:url(../img/logo00.png) no-repeat center center/contain;
 z-index:2;
}

.gas{
 position:fixed;
 top:0;
 left:0;
 width:100%;
/* width:auto;*/
 height:100%;
 background:url(../img/gas00.jpg) no-repeat  center center/contain;
/* background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));*/
}

.logo2{
 position:fixed;
 right:2%;
 bottom:5vh;
 width:100px;
 height:50px;
 background:url(../img/logo01.png) no-repeat  center center/contain;
 z-index:2;
}

.contents_p01{
 position:fixed;
 top:0;
 left:15%;
 text-shadow:2px 2px 10px #00f;
 font-size:10px;
 padding:5px
}


/* :hover 疑似クラス
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.logo1:hover + .gas{
 background-color:rgba(0,0,0,0.5);
 transition:0.3s;
 opacity:1;      /* 非表示（ホバーで表示） */
 z-index:1;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-1(3/3) SECTION 会社情報
+++++++++++++++++++++++++++++++++++++++++++++ */
.company{
 position:fixed;
 top:0;
 left:15%;
 color:#00f;
 padding:30px;
 margin:0 auto;
 opacity:0;      /* 非表示（ホバーで表示） */
}

.company h2{
 text-align:center;
 margin-bottom:10px;
}

.company h3{
 margin-bottom:10px;
}

.company dl{
 display:flex;
 flex-wrap:wrap;
}

.company dt{
 width:25%;
 background-color:#DADADA;
 padding:17px;
 border-top-left-radius:3px;
 border-bottom-left-radius:3px;
 margin:0 0 10px 0;
 text-align: center;
}

.company dd{
 width:75%;
 background-color:#F3F3F3;
 padding:17px;
 border-top-right-radius:3px;
 border-bottom-right-radius:3px;
 margin:0 0 10px 0;
}

.access{
 margin-top:10px;
}

.map{
 position:relative;
 padding-bottom:20%; /*padding上下%の基準は横幅*/
 height:0;
 overflow:hidden;
}

.map iframe{
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 border:0;
}


/* :hover 疑似クラス
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.logo1:hover + .company{
/*.logo2:hover + .company{*/
 height:100vh;
 background-color:rgba(0,0,0,0.5);
 transition:0.3s;
 opacity:1;      /* 非表示（ホバーで表示） */
 z-index:1;
}



/* =============================================
 0-2-2/4 <NAV> ナビゲーション
============================================= */
/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(1/2) <PCNAV> パソコン用
+++++++++++++++++++++++++++++++++++++++++++++ */
.pcnav{
 position:fixed;
 bottom:15px;
 width:15%;
 z-index:2;
}

.pcnav li .caption2{
 display: block;
 text-align:center;
 line-height:50px;
 max-height:50px;
 font-size:17px;
 font-weight:bold;
 text-shadow:2px 2px 10px #f00;
 background-color:rgba(0,0,255,0.5);
 border-bottom:1px solid #fff;
}

.pcnav li:last-child .caption2{
 border-bottom:none;
}


/* :hover 疑似クラス
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.pcnav li .caption2:hover{
 width:290%;
 color:#00f;
 font-size:30px;
 text-shadow:1px 1px 2px #a00;
 background-color:rgba(255,255,255,0.8);
 padding-left:100%;
 border:3px inset #00f;
 border-radius:10px;
 transition:0.3s;
 opacity:1;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(2/2) <SPNAV> スマホ用
+++++++++++++++++++++++++++++++++++++++++++++ */
.btn
,.spnav
{
 display:none;
}

/* Sp btn */
.btn{
 width:50px;
 height:50px;
 border:1px solid #00f;
 border-radius:5px;
 position:absolute;
 top:7px;
 right:7px;
 z-index:2;
 color:#00f;
 text-align:center;
}

.btn i{
 display:block;
 line-height:50px;
 font-size:35px;
}

/* barアイコン表示 */
.btn i:last-child{
/* display:none;*/
}



/* =============================================
 0-2-3/4 <MAIN> メインコンテンツ
============================================= */
.caption{
 display:block;
 height:50vh;
 overflow:hidden;
 text-shadow:2px 2px 10px #00f;
 background-color:rgba(0,0,0,0.3);
/* animation効果
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 opacity:0;      /* 非表示（ホバーで表示） */
 z-index:1;
}

.caption h2{
 font-size:35px;
 text-align:center;
 padding-top:20vh;
 padding-bottom:15px;
}

.caption p{
 line-height:1.5;
 width:80%;
 margin:0 auto;
}


/* :hover 疑似クラス
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.caption:hover{
 transition:0.3s;
 opacity:1;      /* 非表示（ホバーで表示） */
 z-index:1;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-3(1/5) SECTION ＬＰガス部門
+++++++++++++++++++++++++++++++++++++++++++++ */
.topL{
 background:url(../img/P1030106.JPG) no-repeat center center/cover;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-3(2/5) SECTION 建設部門
+++++++++++++++++++++++++++++++++++++++++++++ */
.topR{
 background:url(../img/tr01.jpg) no-repeat center bottom/cover;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-3(3/5) SECTION リフォーム工事
+++++++++++++++++++++++++++++++++++++++++++++ */
.btmL{
 background:url(../img/bl01.jpg) no-repeat center bottom/cover;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-3(4/5) SECTION 住まいの困りごと相談
+++++++++++++++++++++++++++++++++++++++++++++ */
.btmM{
 background:url(../img/bc01.jpg) no-repeat center bottom/cover;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-3(5/5) SECTION 駐車場管理・仲介
+++++++++++++++++++++++++++++++++++++++++++++ */
.btmR{
 background:url(../img/br02.jpg) no-repeat center bottom/cover;
}



/* =============================================
 0-2-4/4 <FOOTER> フッター
============================================= */
footer{
 position:fixed;
 bottom:0;
 width:100%;
 text-shadow:2px 2px 10px #00f;
 text-align:center;
 padding:5px;
}



/* #############################################
 レスポンシヴウェブデザイン（RWD）
############################################# */
/* =============================================
 ♦メディアクエリー設定（ブレイクポイント）
============================================= */
@media screen and (max-width:1150px){
.container{
 grid-template-columns:25fr 75fr;
}

.pcnav{
 width:25%;
}

.contents_p01{
 left:5%;
}

.contents_p02{
 top:40%;
 left:2%;
 font-size:30px;
}

.company{
 left:25%;
}

}


@media screen and (max-width:767px){
/* #############################################
 レイアウト設定
############################################# */
.container
,header
,.contents
{
 display:block;
}

.ph{
 width:100%;
 height:100%;
}

.contents_p01
,.contents_p02
,.logo1
,.gas
,.logo2
,.company
{
 display:none;
}



/* =============================================
 0-2-1/4 <HEADER> ヘッダー
============================================= */
.h1{
 margin:0;
}



/* =============================================
 0-2-2/4 <NAV> ナビゲーション
============================================= */
/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(1/2) <PCNAV> パソコン用
+++++++++++++++++++++++++++++++++++++++++++++ */
.pcnav{
 display:none;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(2/2) <SPNAV> スマホ用
+++++++++++++++++++++++++++++++++++++++++++++ */
/* Sp btn */
/* barアイコン表示 */
.btn{
 display:block;
 overflow:hidden;  /*アイコン２つ目を非表示*/
}

/* クリック時 */
.close i:first-child{
 display:none;
}

.close i:last-child{
 display:block;
}

/*ナビゲーション*/
.spnav{
 display:block;
 width:100%;
 position:fixed;
 top:57px;
 left:0;
 margin-left:100%;
 transition:0.3s;
}

.slide{
 margin-left:0;
}

.spnav li{
 width:auto;
}

.spnav a{
 display:block;
 color:#00f;
 font-size:30px;
 font-weight:bold;
 line-height:70px;
 text-align:center;
 text-shadow:2px 2px 10px #f00;
 border-top:1px solid #aaa;
 background:rgba(255,255,255,0.8);
}

/* TOPへ戻るボタン */
.top{
 width:50px;
 height:50px;
 padding-top:5px;
 font-weight:bold;
 color:#00f;
 text-align:center;
 border:1px solid #00f;
 border-radius:5px;
 position:fixed;
 bottom:15px;
 right:5px;
 z-index:9999;
 background-color:#fff;
 cursor:pointer;
}

.top i{
 display:block;
 text-align:center;
}



/* =============================================
 0-2-3/4 <MAIN> メインコンテンツ
============================================= */
.caption{
 opacity:1;
}

.caption h2{
 font-size:28px;
 padding-top:30%;
}


/* =============================================
 0-2-4/4 <FOOTER> フッター
============================================= */
footer{
 font-size:10px;
}



}