@charset "UTF-8";

/* #############################################
 header_00.css
############################################# */



/* #############################################
 共通設定
############################################# */
body{
/* background:url(../img/nasa-Q1p7bh3SHj8-unsplash.jpg)*/
/* background:url(../img/matrix-2953869_1920.jpg)*/
/* no-repeat*/
/* center bottom/100% 100%;*/
/* z-index:0;*/
/* background-color:rgba(0,0,255,0.3);*/
}

/*
.fixed{
 position: fixed;
 top:0px;
 left:0px;
 width:100%;
 z-index:1;
}
*/
.fixed{
 background:url(../img02/header.jpg) no-repeat center center/cover;
}


header
,.pcnav
,footer
{
 color:#FFFFCC;
/* background-color:#ccc;*/
}

h2
,.menu
{
/* color:#0ff;*/
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 コンテンツ幅設定
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ---------------------------------------------
 レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
.container{
/* width:960px;*/   /*PC幅1000前後が通常*/
 max-width:1024px;  /*♦最大幅を固定値:max-widthで設定*/
 padding:0 10px;    /*左右の余白調整*/
 margin:0 auto;     /*左右中央寄せ :上下 左右;*/
}



/* #############################################
 レイアウト設定
############################################# */
/* ---------------------------------------------
 カラムレイアウト
--------------------------------------------- */
.container
,.menu
{
/* display:flex;*/
}

header>.container
,.pcnav li a        /*幅を広げる（無いと文字だけ）*/
,main>.container
,.menu>a
,footer>.container
{
 display:block;
}

.pcnav li{
 width:calc(100% / 3);/* %で指定 */
                    /*♦横幅固定値に対して親ボックスに対する％で指定*/
                    /*コンテンツ幅に対し、(%/ボタン数)を考慮した、幅を指定*/
}

.wrap{
/* width:calc(100% * (540 / 960));*/
/* margin-right:calc(100% * (20 / 600));*/
}

.mainImg{
/* width:calc(100% * (400 / 960));*/
/* height:auto;*/
}



.tabContents{
 display:none;
}

.tabContents.active{
 display:block;
}



/* #############################################
 個別設定
############################################# */
/* =============================================
 0-2-1/4 <HEADER> ヘッダー
============================================= */
header>.container{
 padding-top:30px;
 padding-bottom:20px;
}

header h1{
 font-size:30px;
 font-family: 'Merienda', cursive;
 margin-bottom:20px;
}

header p{
 font-weight:bold;
}



/* =============================================
 0-2-2/4 <NAV> ナビゲーション
============================================= */
/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(1/2) <PCNAV> パソコン用
+++++++++++++++++++++++++++++++++++++++++++++ */
.pcnav ul{
 display:flex;
 justify-content:center;
/* background:#ddd;*/
}

.pcnav li{
/* color:#fff;*/
/* color:#000;*/
 text-align:center;
 line-height:50px;
 font-size:17px;
 font-weight:bold;
 letter-spacing:2px;
/*
 background:url(../img/printed-circuit-board-1911693_1920.jpg)
 repeat-x
 center center/100% auto;
*/
 background-color:rgba(200,200,200,0.6);
 border-radius:10px;
}

.pcnav li a{
/* border-left:1px solid #ff0;*/
}

.pcnav li:first-child a{
/* border-left:none;*/
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 :hover 疑似クラス
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.pcnav li.current a
,.pcnav li a:hover
,h3.current2
,.menu h3:hover
,.menu a:hover
{
 color:#ff0;
 background-color:#00f;
 border-radius:10px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(2/2) <SPNAV> スマホ用
+++++++++++++++++++++++++++++++++++++++++++++ */
.btn
,.spnav
{
 display:none;
}

/* Sp btn */
.btn{
/* position:absolute;*/
 position:fixed;
 top:7px;
 right:7px;
 width:50px;
 height:50px;
 color:#00f;
 text-align:center;
 border:1px solid #00f;
 border-radius:5px;
 z-index:2;
}

.btn i{
 display:block;
 line-height:50px;
 font-size:35px;
}

/* barアイコン表示 */
.btn i:last-child{
/* display:none;*/
}

/* TOPへ戻るボタン */
.top{
 width:50px;
 height:50px;
 padding-top:5px;
 font-weight:bold;
 color:#00f;
 text-align:center;
 border:1px solid #00f;
 border-radius:5px;
 position:fixed;
 bottom:15px;
 right:5px;
 z-index:9999;
 background-color:#fff;
 cursor:pointer;
}

.top i{
 display:block;
 text-align:center;
}



/* =============================================
 0-2-3/4 <MAIN> メインコンテンツ
============================================= */



/* =============================================
 0-2-4/4 <FOOTER> フッター
============================================= */
footer{
 position:fixed;
 bottom:0;
 width:100%;
/* text-shadow:2px 2px 10px #00f;*/
 text-align:center;
 padding:5px;
}



/* #############################################
 レスポンシヴウェブデザイン（RWD）
############################################# */
/* =============================================
 ♦メディアクエリー設定（ブレイクポイント）
============================================= */
@media screen and (max-width:1300px){



}



@media screen and (max-width:767px){
/* #############################################
 レイアウト設定
############################################# */



/* =============================================
 0-2-1/4 <HEADER> ヘッダー
============================================= */



/* =============================================
 0-2-2/4 <NAV> ナビゲーション
============================================= */
/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(1/2) <PCNAV> パソコン用
+++++++++++++++++++++++++++++++++++++++++++++ */
.pcnav{
 display:none;
}


/* +++++++++++++++++++++++++++++++++++++++++++++
 0-2-2(2/2) <SPNAV> スマホ用
+++++++++++++++++++++++++++++++++++++++++++++ */
/* Sp btn */
/* barアイコン表示 */
.btn{
 display:block;
 overflow:hidden;  /*アイコン２つ目を非表示*/
}

/* クリック時 */
.close i:first-child{
 display:none;
}

.close i:last-child{
 display:block;
}

/*ナビゲーション*/
.spnav{
 display:block;
 width:100%;
 position:fixed;
 top:57px;
 left:0;
 margin-left:100%;
 transition:0.3s;
 z-index:2;
}

.slide{
 margin-left:0;
}

.spnav li{
 width:auto;
}

.spnav a{
 display:block;
 color:#00f;
 font-size:30px;
 font-weight:bold;
 line-height:70px;
 text-align:center;
 text-shadow:1px 1px 3px #000;
 border-top:1px solid #aaa;
 background:rgba(255,255,255,0.8);
}



/* =============================================
 0-2-3/4 <MAIN> メインコンテンツ
============================================= */



/* =============================================
 0-2-4/4 <FOOTER> フッター
============================================= */
footer{
 font-size:10px;
}



}