@charset "uft-8";
 
/*----Reset----*/
html,body,h1,h2,p,ul,li {
margin: 0;
padding: 0;
line-height: 1;
font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
ul {
list-style: none;
}
a {
text-decoration: none;
color: inherit;
}
img {
border: none;
}
/* 共通css */
.container{
width:960px;
margin:0 auto;
display: flex;
}
 
/* Header */
header{
padding: 20px 0;
background: #000;
color: #fff;
}
header .container {
justify-content: space-between;
align-items: flex-end;
}
h1 {
font-family: "Lacquer", sans-serif;
font-size: 44px;
margin-bottom: 5px;
}
/*SNSリンク*/
aside ul{
display: flex;
}
aside li{
width: 50px;
height: auto;
margin-left: 5px;
}
 
/*キービジュアル*/
.keyVis {
height: 200px;
background: url(../img/header2.jpg) no-repeat right center;
background-size: cover;
}
 
/* PCナビゲーション */
nav {
background: #000;
margin-bottom: 50px;
}
nav li {
width: calc(100% / 5);
line-height: 44px;
text-align: center;
color: #fff;
}
nav a {
display: block;
border-right: solid 1px #fff;
}
nav li:first-child a {
border-left: 1px solid #fff;
}
nav a:hover {
background: #39d;
}
 
/*2カラム幅指定*/
.wrap {
justify-content: space-between;
margin-bottom: 50px;
}
main {
width: calc(100% * (600 / 960));
}
.sidebar {
width: calc(100% * (300 / 960));
}
 
/*----メインコンテンツ----*/
/*投稿日時*/
time {
background: #0097d8;
color: #fff;
font-weight: bold;
padding: 20px;
border-radius: 50%;
float: right;
}
 
/* 見出し */
article h2 {
font-size: 28px;
border-bottom: solid 1px #aaa;
padding-bottom: 10px;
margin-bottom: 10px;
}
.cat{
font-size: 14px;
}
 
/*画像枠*/
article img {
border: 10px solid #0097d8;
}
/*記事段落*/
article p{
margin-bottom: 10px;
line-height: 1.5;
}
.mainLast{
margin-bottom: 0;
}
 
/* ------ サイドバー ----- */
.sidebar section:first-child {
margin-bottom: 50px;
}
/* 見出し*/
.sidebar h2 {
font-size: 28px;
color: #0097d8;
margin-bottom: 10px;
}
/* メニューボーダー */
.sidebar li {
font-size: 14px;
line-height: 44px;
border-bottom: solid 1px #aaa;
}
.sidebar ul li:first-child{
border-top: solid 1px #aaa;
}
.sidebar a {
display: block;
background: url(../img/listmark.png) no-repeat left center;
padding-left: 20px;
}
.sidebar a:hover {
background-color: #b4f0ff;
}
 
/*フッター*/
footer {
color: #fff;
background: #000;
padding: 30px 0;
}
footer .container p:first-child {
margin-bottom: 5px;
}