@charset "utf-8";
 
/*--Reset--*/
html,body,h1,p,ul,li{
margin:0;
padding:0;
line-height: 1.0;
font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
text-align:center;
}
img{
border:none;
vertical-align:bottom;
max-width:100%;
height: auto;
}
a{
text-decoration: none;
color: inherit;
}
ul{
list-style: none;
}
 
/*共通css*/
header,footer{
background:#fdd;
}
 
/*header*/
header{
padding:30px 0;
margin-bottom: 30px;
}
h1{
font-size: 40px;
font-weight:lighter;
color: #900;
background:url(../img/logo.png) no-repeat;
line-height: 50px;
/*border: 3px solid #900;*/
width:440px;
width: 11em;
padding-left: 55px;
margin:0 auto 10px;
}
header p{
font-size:24px;
}
 
/*Navigation*/
nav ul{
max-width:1000px;
margin:0 auto 30px;
display: flex;
justify-content: space-between;
}
nav li{
border:1px solid #777;
width:18%;
}
nav a{
display: block;
padding:15px 0;
}
nav a:hover{
color:#900;
background:#fcc;
}
/*キービジュアル*/
.keyVis{
margin-bottom: 50px;
}
 
/*--フッター--*/
footer{
padding:30px 0;
}
 
@media screen and (max-width:767px){
 
/* Header */
header{
padding: 20px 0;
margin-bottom: 20px;
}
h1{
font-size: 22px;
width: 242px;
/* 11文字分の幅 */
width: 11em;
}
header p{
font-size: 16px;
}
 
/* Navigation */
nav ul{
display: block;
border-bottom: 1px solid #777;
margin-bottom: 20px;
}
nav li{
width: auto;
border-bottom: none;
}
 
/* キービジュアル */
.keyVis{
margin-bottom: 20px;
}
 
/*--フッター--*/
footer{
padding:20px 0;
}
 
 
}
