@charset "utf-8";
 
/* コンテンツ中央揃え */
div{
width: 960px;
margin: 0 auto;
}
 
/* ヘッダー、h2見出し */
header,h2{
background-color: #00f;
color: #fff;
padding: 10px;
}
 
/* Navigation */
nav ul{
list-style: none;
padding-left: 0;
}
nav li{
text-align: center;
}
nav a{
text-decoration: none;
background: #ccf;
color: #00f;
display: block;
padding: 10px  0;
}
nav a:hover{
background-color: #00f;
color: #fff;
}
 
/* 作業手順、用語解説 */
ol{
padding: 20px 20px 20px 40px;
}
dl{
padding: 20px;
}
ol,dl{
background-color: #ccf;
color: #00f;
border: 1px  solid #00f;
}
 
/*今週の予定*/
table{
border-collapse: collapse;
}
th,td{
border: 1px  solid #00f;
padding: 5px;
}
th{
background-color: #ccf;
}
 
/* プロフィール頁css */
#profile table{
width:calc(100% - 250px);
}
#profile th{
width:6em;
}
#profile td{
line-height: 1.3;
}
/* 顔アイコン */
#profile  i{
font-size: 240px;
color:#aaf;
}
/* メインコンテンツ下余白 */
#profile main{
margin-bottom: 30px;
}
 
@media screen and (max-width:767px) {
 
header{
background-size: cover;
height: 100px;
text-shadow: 1px 1px 2px #000;
}
h1{
font-size:28px;
}
nav{
/* display: none; */
position: absolute;
width:calc(100% - 40px);
top:77px ;
}
nav ul{
display:block;
}
nav li{
width:auto;
line-height: 70px;
font-size: 24px;
border-bottom: 1px solid #00f;
}
nav a{
background: rgba(200,200,255,0.9);
}
 
/* ハンバーガーメニュー */
.btn{
display: block;
border:1px solid #fff;
width:50px;
line-height: 50px;
color: #fff;
/* background: rgba(0, 0, 0, 0.3); */
text-align: center;
border-radius: 5px;
font-size: 35px;
position: absolute;
top:25px;
right: 25px;
}
 
.wrap{
display: block;
}
.html,.css{
width: auto;
}
 
/* プロフィール頁 */
#profile table{
width:100%;
margin-bottom: 20px;
}
#profile i{
display: block;
font-size: 300px;
text-align: center;
/* width: 300px;
margin: 0 auto; */
}
    
}