@charset "utf-8";

/* CSS Reset Start
/* reset ブロックレベル要素のみ
/*ブラウザによって異なるデフォルトのCSSを打ち消してブラウザ間の表示を揃える
============================================= */
html,
body,
h1,
/*h2,*/
/*h3,*/
p,
ul,
li
/*dl,*/
/*dt,*/
/*dd*/
{
 margin:0;
 padding:0;
 line-height:1.0;       /*行の高さ　単位を付けない*/
 font-family:"Hiragino kaku Gothic ProN",  /*Mac*/
 Meiryo,                /*Win*/
 sans-serif;            /*その他ゴシック系*/
/* text-align:center;*/
}

                        
img{
 border:none;           /*画像の境界線を非表示にする*/
                        /*画像にリンクを設定すると、一般的なブラウザでは自動的に境界線が表示される。*/
 vertical-align:bottom; /*初期設定画像の下の空白を取る*/
/*レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
 max-width:100%;        /*親要素のwidth幅の100%の値*/
                        /*♦フルードイメージ（Fluid Image）-ウィンドウサイズ（または親要素の幅）に応じて、縦横比を保持したまま自動的に画像が拡大・縮小するようにする手法、最大幅は元画像の幅*/
 height:auto;           /*横幅と同比率で高さも自動調整*/
}

ul{
 list-style:none;       /*黒丸を非表示にする*/
}

a{
 text-decoration:none;  /*文字の下線を消す*/
 color:inherit;         /*文字の色を親要素から取得*/
}

/*ユニバーサルセレクター（全称セレクター）*/
*{
 box-sizing:border-box;
}



/*--共通設定--*/
/*****<< フッター >>*****/
header,h3,footer{
 background:#365699;
 color:#fff;
}





/* コンテンツ幅設定
/*レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
.container{
 max-width:960px; /*PC幅1000前後が通常*/
                   /*♦最大幅を固定値に-最大横幅をmax-widthで設定*/
 margin:0 auto;    /*左右中央寄せ :上下 左右;*/
}


/* 2カラムレイアウト幅設定
--------------------------------------------- */
main{
/* width:630px;*/
 width:65.6%;
}

.sidebar{
/* width:300px;*/
 width:31.2%;
}





/* <HEADER> ヘッダー
# 0<HTML> 2/2<BODY> 1/4<HEADER>
============================================= */
header{
 padding:20px 0;
}

h1{
 font-size:40px;    /*文字の大きさ、40px*/
 background:url(../img/logo-1.png)
 no-repeat;
                    /*背景画像の位置調整 画像50x50px*/
 line-height:50px;  /*行の高さ、50px*/
 padding-left:55px; /*文字左側、領域内スペース 50+5px*/
 margin-bottom:10px;
}

header P{
 font-weight:bold;
 padding-left:55px;
}




/* <NAV> ナビゲーション
# 0<HTML> 2/2<BODY> 2/4<NAV>
============================================= */
/* パソコン用
# 0<HTML> 2/2<BODY> 2/4(1/2)<PCNAV>
_____________________________________________ */
.pcnav{
 color:#365699;
 background-color:#ADD8E6;
}

.pcnav ul{
 display:flex;
/*コンテンツ幅。ボタン間に、余りを均等に配置*/
 justify-content:space-between;
}

/*ナビゲーション　文字（文言）*/
.pcnav li{
 text-align:center;
 line-height:44px;
/* font-size:14px;*/
/*レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
 width:20%;                 /* %で指定 */
                            /*♦横幅固定値に対して親ボックスに対する％で指定*/
                            /*コンテンツ幅に対して、ボタン数を考慮した、幅を指定*/
}

/*ナビゲーション　リンク*/
.pcnav li a{
 display:block; /*ブロック幅を広げる（無いと文字だけ）*/
}

/*aの上　マウスを合わせたときの背景色を変更*/
nav li a:hover{
 background:url(../img/navBg.jpg)
 no-repeat;
}


/* スマホ用
# 0<HTML> 2/2<BODY> 2/4(2/2)<SPNAV>
_____________________________________________ */
.spnav{
 display:none;
}



/* <DIV> キーヴィジュアル
# 0<HTML> 2/2<BODY> 0/4<DIV>
============================================= */
.keyVis{
 background:
 url(../img/mall_bg.jpg)
 no-repeat
 center top/cover;                      /*中央　拡大縮小*/
 padding:100px 0;
 margin-bottom:30px;
}

.keyVis>.container{
 display:block;                     /**/
 font-size:44px;                    /*文字サイズ*/
 color:#fff;                        /*文字色*/
 font-family: 'Righteous', cursive;   /*google font*/
 text-shadow:2px 2px 2px #900;      /*文字に影 右:下:ぼかし:色*/
 line-height:60px;
 text-align:center;
}





/* <MAIN> メインコンテンツ
# 0<HTML> 2/2<BODY> 3/4<MAIN>
============================================= */
/*2カラムレイアウト*/
.wrap{
 display:flex;
 justify-content:space-between;
}

/*画像フロート*/
/*main img{*/
.mall{
 float:left;
/*マージン　上、右、下、左の時計回りに指定*/
 margin:10px 10px 20px 0;
}

h2{
 border-left:20px solid #365699;
 padding-left:5px;
}

h3{
 padding:10px;
 clear:both;  /*h3を、回り込みさせない*/
}

main p{
 line-height:1.5;
 margin-bottom:20px;
}


.more{
 background:url(../img/arrow.png)
 no-repeat
 left center;
 padding-left:21px;
}


.more:hover{
 color:#365699;
}




.sidebar dt{
 color:#c00;
 line-height:1.5;
 font-weight:bold;
}

.sidebar dd{
 margin-bottom:10px;
 line-height:1.5;
}



/* <FOOTER> フッター
# 0<HTML> 2/2<BODY> 4/4<FOOTER>
============================================= */
footer{
 padding:30px 0;
}





