@charset "utf-8";
html,body,h1,h2,h3,h4,p,ul,li,dl,dt,dd,ol{
margin:0;
padding:0;
line-height:1;
font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

ul,ol{
list-style:none;
}

img{
vertical-align:bottom;
max-width:100%
}

a{
text-decoration:none;
}

/*フォント関連
-----------------------------------*/
html{font-size:62.5%;}
body{font-size:1.6rem}
h1{font-size:3.2rem}
h2{font-size:2.4rem}
h3{font-size:2.0rem}
h4{font-size:1.8rem}
p{font-size:1.5rem}


/* default font color
-----------------------------------*/
h1,h2,h3,h4,h5,p{
  color:rgb(53, 53, 53);
}


/*container
-----------------------------*/
.container{
 max-width: 960px;
 margin: auto;
}


/*header
-------------------------------------*/
.header{
 padding: 20px 0 16px;
 margin-bottom: 10px;
 background: #ccc;
}

.header h1{
 color:#fff;
 text-shadow: 1px 1px 3px #777;
}



/*main-visual
-------------------------------------*/
.main-visual{
 margin-bottom: 30px;
}

/*  */
.main-visual li{
 background: url(../img/138_slider01.jpg) center center/cover;
 width: 960px;
 height: 250px;
}

/*main
------------------------------------*/
.main h2{
 margin-bottom: 30px;
 text-align: center;
}


.main p{
 padding: 0 10%;
 margin-bottom: 40px;
 line-height: 1.65;
}

.main p br{
 content: "";
 display: block;
 margin-bottom: 10px;
}



/*contents
-------------------------------------*/
.contents{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 margin-bottom: 80px;
}

.contents a{
 max-width: 200px;
 overflow: hidden;
}

.contents a img{
 transition: 0.3s;
 transform:scale(1.2);
}

.contents a img:hover{
 transform:scale(1);
 opacity: 0.8;
}


/*footer
----------------------------------*/
.footer{
 padding: 40px 0 30px;
 background: #ccc;
 text-align: center;
}

.footer p{
 color:#fff;
 text-shadow: 1px 1px 3px #777;
}










