@charset "utf-8";
 
div{
max-width:960px;
margin:0 auto;
}
 
/* ヘッダー */
header{
color: #fff;
padding: 10px;
background:url(../img/header.jpg) no-repeat;
height: 130px;
}
 
/* Navigation */
nav ul{
padding: 0;
list-style: none;
display: flex;
}
nav li{
text-align: center;
width: 20%;
}
nav a{
text-decoration: none;
color: #fff;
background-color: #900;
display: block;
padding: 15px 0;
}
nav a:hover{
color: #900;
background-color: #fca;
}
 
/* h2見出し */
h2{
background: #fca;
color: #900;
padding: 5px;
clear: both;
}
/* 画像フロート */
main img{
float: left;
margin: 0 20px 30px 0;
}
 
/* Footer上境界線 */
footer{
border-top: 1px solid #900;
}
 
@media screen and (max-width:767px) {
    
/* ヘッダー */
header{
height: 100px;
background-size:cover ;
}
h1,header p{
margin: 0;
}
 
/* Navigation */
nav ul{
display:block ;
}
nav li{
width: auto;
}
 
/* 画像フロート */
main img{
float: none;
display: block;
margin: 0  auto 10px;
}
 
}