@charset "utf-8";

html,body,h1,h2,ul,li,p{
 margin: 0;
 padding: 0;
line-height: 1;
}

a{
 text-decoration: none;
}

.header_inner,ul,main{
 max-width: 960px;
 /* m0-a */
 margin: 0 auto;
}

h1{
 text-align: center;
 padding: 50px;
}

ul{
 display: flex;
 list-style: none;
}

li{
 width: 23%;
 text-align: center;
 line-height: 40px;
}

.box{
 height: 300px;
 background-color: #eee;
 margin: 5px;
}

.box h2{
 padding: 30px 40px;
}

p{
 padding-left: 100px;
 color: #f00;
 font-size: 30px;
 font-weight: bold;
}