@charset "UTF-8";
 
/*css reset*/
html,body,h1,h2,h3,p,ul,li{
margin: 0;
padding: 0;
line-height: 1;
font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
ul{
list-style: none;
}
a{
text-decoration: none;
color: inherit;
}
img{
border: none;
max-width: 100%;
height: auto;
}
/*共通css*/
.container{
max-width: 960px;
margin: 0 auto;
padding: 0 10px;
}
 
/*ヘッダー*/
header{
height: 200px;
color: #fff;
background: url(../img/herbs2.jpg);
}
h1{
font-size: 80px;
font-family: 'Berkshire Swash', cursive;
padding: 30px 0 20px;
}
header p{
font-size: 24px;
}
 
/*ナビゲーション*/
.pcnav{
background: #050;
margin-bottom: 30px;
}
.pcnav .container{
display: flex;
}
.pcnav li{
color: #fff;
text-align: center;
width:20%;
}
.pcnav a{
display: block;
padding:15px 0;
}
.pcnav a:hover{
background: #f50;
}
.spnav{
display: none;
}
 
/*メインコンテンツ*/
 .wrap{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
}    
main{
width: calc( 100% * (630 / 960));
}
.sidebar{
width: calc( 100% * (300 / 960));
}
 
/*メインコンテンツ*/
h2{
background:#090;
color: #fff;
padding: 5px;
margin-bottom: 20px;
}
h3{
margin-bottom: 10px;
border-left: 16px solid #090;
padding-left: 5px;
clear: both;
}
/*メインコンテンツ内画像*/
main img{
float: left;
margin: 0 20px 50px 0;
}
main p{
line-height: 1.5;
margin-bottom: 20px;
}
/*詳細を見る*/
.more{
font-size: 14px;
background:#090;
color: #fff;
padding: 5px;
}
.more:hover{
background: #f50;
}
 
/*サイドバー*/
.sidebar ul{
margin-bottom: 20px;
}
.sidebar li{
line-height: 50px;
}
.sidebar li a{
display: block;
padding-left: 5px;
border:1px solid transparent;
border-right-width: 15px;
border-left-width: 15px;
}
.sidebar li a:hover{
border-color:#090;
border-right-color: #f00;
}
 
/*Footer*/
footer{
background:#090;
color: #fff;
padding:20px 0;
}