@charset "utf-8";
 
/*reset*/
html,body,h1,h2,h3,p,ul,li,dl,dt,dd{
margin: 0;
padding: 0;
line-height: 1;
font-family: "Hiragino Kaku Gothick ProN",Meiryo,san-serif;
}
img {
border: none;
vertical-align: bottom;
}
ul{
list-style: none;
}
a {
text-decoration: none;
}
 
/*ウィンドウ背景の設定*/
body {
background: #fbf9cc url(../img/bg.png) repeat-x;
}
 
/*ヘッダー,ナビ,フッターの共通設定*/
header,nav,footer {
text-align: center;
}
 
/*ページタイトルの設定*/
h1 {
width: 300px;
padding: 30px;
margin: 40px auto;
font-family: 'Limelight', cursive;
font-size: 300%;
border: 5px solid #95dbbd;
border-radius: 50%;
text-shadow: 1px 1px 2px #307657;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
background: linear-gradient(#6fbb9a, #4a9d79);
color: #fff;
}
header p{
margin-bottom: 30px;
}
 
/*ナビ*/
nav ul{
width: 580px;
margin: 0 auto 40px;
display: flex;
justify-content: space-between;
}
nav li {
width: 180px;
}
nav a {
display: block;
padding: 10px 0;
background: #6fbb9a;
border-radius: 8px;
color: #fff;
}
nav a:hover {
background: #090;
}
 
/*コンテンツ幅の設定*/
main {
width: 798px;
margin: 0 auto 40px;
padding: 40px 80px;
border: 1px solid #f6bb9a;
background: #fff;
}    
 
/*中見出しの設定*/
h2{
padding: 10px;
margin-bottom: 30px;
border: 1px dotted #94c8b1;
border-left: 10px solid #d0e35b;
color: #6fbb9a;
border-radius: 5px 0 0 5px;
}
 
/*小見出しの設定*/
h3 {
margin-bottom: 20px;
padding: 10px;
background: #fbf9cc;
color: #ff705b;
border-radius: 10px;
box-shadow: 0 0 5px 2px #ffd0ad  inset;
}
h3>span{
font-weight: normal;
}
/* 段落行高 */
main p{
line-height: 1.5;
}
 
/*回り込み設定*/
.imgL {
float: left;
margin-right: 20px;
}
.imgR {
float: right;
margin-left: 20px;
}
.more{
clear: both;
text-align: right;
margin-bottom: 30px;
}
 
/*「もっと見る」リンクの設定*/
a{
color: #df4839;
}
 
/*属性セレクター*/
a[href^="mailto:"] {
background:url(../img/ico_mail.png) no-repeat right center;
padding-right: 20px;
}
a[target="_blank"] {
background:url(../img/ico_blank.png) no-repeat right center;
padding-right: 20px;
}
 
/*セクション間隔*/
main > section + section {
margin-top: 80px;
}
 
/*飼い主紹介*/
#profile{
overflow: hidden;  
}
/*円形にクリップ*/
#profile img {
border-radius: 50%;
}
#profile dt{
margin-bottom: 5px;
}
#profile dd{
margin-bottom: 10px;
}