@charset "utf-8";

/*--CSS Reset Start--*/
/*ヘッダーの上下にマージンがあるのをゼロにする*/
html,body,h1,h2,h3,p,ul,li{
 margin:0;
 padding:0;
 line-height:1.0;
/*フォントMac:"Hiragino kaku Gothic ProN"*/
/*フォントWin:Meiryo*/
/*フォントその他ゴシック系:sans-serif*/
 font-family:"Hiragino kaku Gothic ProN",Meiryo,sans-serif;
/* text-align:center;*/
}

img{
 border:none;
}

ul{
 list-style:none;  /*黒丸を非表示にする*/
}

a{
 text-decoration:none;  /*文字の下線を消す*/
 color:inherit;
}


/*リンゴの画像サイズ*/
/*画像は縦横比は自動*/
.apple{
 width:250px;
 height:auto;
}
/*--CSS Reset End--*/


/*コンテンツ幅*/
.container{
/* PC幅1000前後が通常*/
    width:960px;
/*  上下が0　左右がauto  */
    margin:0 auto;
/*白色の枠*/
/*    border:20px solid #fff;*/
/*    background:#fff;*/
/*    padding:20px;*/
}


/*ヘッダー*/
header{
/* background-color:#0000ff;*/
 color:#fff;
/* padding:20px;*/
 background-image:url(../img/headerBg.jpg);
/*背景画像を繰り返す　取り消す　繰り返さない*/
 background-repeat:no-repeat;
 height:200px;
 margin-bottom:20px;
}

h1{
 font-size:50px;
 padding:20px;
}

header p{
 font-size:24px;
 font-weight:bold;
 padding-left:20px;
}

h2{
 background:#900;
 color:#fff;
 padding:20px 10px;
 clear:both;
}

h3{
 background:#fdd;
 color:#f00;
 padding:10px;
 /*h2を、回り込みさせない*/
 clear:both;
}


/*画像フロート*/
/*main img{*/
.apple{
 float:left;
/*マージン　上、右、下、左の時計回りに指定*/
 margin:0 20px 30px 0;
}


main{
 display:flex;
 justify-content:space-between;
}

.appleMain{
 width:630px;
}

.sidebar{
 width:300px;
}



/*ナビゲーション*/
nav ul{
/* width:1000px;*/
 margin:0 auto 30px;
 display:flex;
/*1000px 180x5=900px ボタン間に、余りを均等に配置*/
 justify-content:space-between;
 background:#fdd;
}

/*ナビゲーション　文字（文言）*/
nav li{
 text-align:center;
 color:#900;
/*幅960pxに対して、ボタン５個なので、１個192px*/
 width:1920px;
}

/*ナビゲーション　リンク*/
nav a{
/*ブロックに色　幅を広げる（無いと文字だけ）*/
 display:block;
 padding:15px 0;
}

/*aの上　マウスを合わせたときの背景色を変更　文字を白*/
nav a:hover{
 background:#900;
 color:#fff;
}


.about{
 color:#00f;
 text-decoration:underline;
}

main p{
 line-height:1.5;
 margin-bottom:30px; 
}

.more:hover{
 background:#f00;
 color:#fff;
 padding:5px 10px;
}

/*フッター*/
footer{
 background:#900;
 color:#fff;
 padding:20px 0;
 text-align:center;
}