@charset "utf-8";
 
/*--Reset--*/
html,body,h1,p,ul,li{
margin:0;
padding:0;
line-height: 1.0;
font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
text-align:a center;
}
img{
border:none;
}
a{
text-decoration: none;
color: inherit;
}
ul{
list-style: none;a
}
/*共通css*/
header,footer{
background:#fdd;
}
 
/*header*/
header{
padding:30px 0;
margin-bottom: 30px;
}
h1{
font-size: 40px;
font-weight:lighter;
color: #900;
background:url(../img/logo.png) no-repeat;
line-height: 50px;
width:440px;
padding-left: 55px;
margin:0 auto 10px;
}
header p{
font-size:24px;
}
 
/*Navigation*/
nav ul{
width:1000px;
margin:0 auto 30px;
display: flex;
justify-content: space-between;
}
nav li{
border:1px solid #777;
width:180px;
}
nav a{
display: block;
padding:15px 0;
}
nav a:hover{
color:#900;
background:#fcc;
}
/*キービジュアル*/
.keyVis{
margin-bottom: 50px;
}
 
/*--フッター--*/
footer{
padding:30px 0;
}


/*メディアクエリ　ブレイクポイント767px*/
@media screen and (max-width:767px){

header{
 padding:20px o;
 margin-bottom:20px;
}

h1{
 font-size:22px;
 width:242px;
 width:11em;
}

header p{
 font-size:16px;
}

nav ul{
 display:block;
 margin-bottom:20px;
}

navli{
 width:auto;
 border-bottom:none;
}

.keyVis{
 margin-bottom:20px;

footer{
 padding: 20px 0;
}

}