@charset "utf-8";


/*20210109 add start*/
/*ヘッダーの上下にマージンがあるのをゼロにする*/
html,body{
     margin:0;
/*ウインド背景色の設定*/
/*     background-color:#ccf;*/
     background:#ccf;

}


/*コンテンツ幅*/
/*20210115 add*/
/*<!--divにクラス属性をつけて、名前を付ける-->*/
.container{
/*div{*/
/* PC幅1000前後が通常*/
/*20210210 add*/
/* width:960px;*/
 max-width:960px;
/*  上下が0　左右がauto  */
    margin:0 auto;
/*20210109 add start*/
/*白色の枠*/
/*    border:20px solid #fff;*/
    background:#fff;
    padding:20px;
}


/*index.html <style>〇〇〇</style>*/

header{
 background-color:#0000ff;
 color:#ffffff;
 padding:10px;
/* background-image:url(../img/headerBg.jpg);*/
/*背景画像を繰り返す　取り消す　繰り返さない*/
/* background-repeat:no-repeat;*/
/*20210210 add*/
/* background-position:right top;*/
/* background-size:cover;*/
/*ショートハンド*/
 background:
 url(../img/headerBg.jpg)
 no-repeat
 right top/cover;
/*paddingの上下分 10+10=20 引く 200-20=180px*/
 height:180px;
/* height:200px;*/
}



.btn{
 width:50px;
 height:50px;
 border:1px solid #fff;
 border-radius:5px;
 position:absolute;
 top:20px;
 right:20px;
 z-index:2;
 color:#fff;
 text-align:center;
}

/* Sp btn */
.btn{
 display:none;
}

.btn i{
 display:block;
 line-height:50px;
 font-size:35px;
}

/* barアイコン表示 */
.btn i:last-child{
/* display:none;*/
}



/*20210108 add*/
/*ナビゲーション*/
nav ul{
       list-style:none;  /*黒丸を非表示にする*/
       padding-left:0;   /*初期値で40px入っているので消す*/ 
/*色*/
/*       background:#ccf;*/
/*20210115 add*/
 display:flex;
}

/*ナビゲーション　文字（文言）*/
nav li{
       text-align:center;  /*文字をセンター*/
/*色*/
/*       background:#ccf;*/
/*20210115 add*/
/*幅960pxに対して、ボタン６個なので、１個160px*/
/*20210210 add*/
/* width:160px;*/
/* width:16.6%;*/
 width:calc(100%/6);
}

/*ナビゲーション　リンク*/
nav a{
      text-decoration:none;  /*文字の下線を消す*/
/*文字だけ色*/
      background:#ccf;
/*ブロックに色*/
      display:block;
      padding:15px 0;
}

/*aの上　マウスを合わせたときの背景色を変更　文字を白*/
nav a:hover{
            background:#00f;
            color:#fff;
}
/*20210108 del*/



/*20210120 add*/
/*２カラムレイアウト*/
.wrap{
 display:flex;
 justify-content:space-between;
/* background:none;*/
}

.html,.css{
/* width:470px;*/
 width:48%;
}





    h2{
       background-color:#00f;
       color:#fff;
       padding:5px;
/*20210113 add start*/
/*h2を、回り込みさせない*/
       clear:both;
/*20210113 add end*/
    }

/*<<20210113>> add start*/
/*画像フロート*/
main img{
         float:left;
/*マージン　上、右、下、左の時計回りに指定*/
         margin:0 20px 20px 0;
}
/*<<20210113>> add end*/

    ol{
       background-color:#ccf;
       color:#00f;
/*1px 画面ドット　外枠の太さ*/
       border:1px solid #00f;
/*padding olは、左端初期設定40px　上、右、下、左*/
       padding:20px 20px 20px 40px;
    }
    dl{
       background-color:#ccf;
       color:#00f;
       border:1px solid #00f;
       padding:20px;
      }

/*表組見出し*/
/*<<20210113>> add start*/
/*テーブルの線の隙間を無くす*/
table{
border-collapse:collapse;
}

th{
background-color:#ccf;
color:#00f;
border:1px solid #00f;
padding:5px;
}

td{
border:1px solid #00f;
padding:5px;
}
/*<<20210113>> add end*/



/*20210210 add*/
/*メディアクエリ　ブレイクポイント767px*/
/*@media screen and (max-width:969px){
}*/

@media screen and (max-width:767px){

/*ヘッダー*/
.container{
 padding:10px;
}

header{
/* background-position:center right;*/
 height:130px;
}

h1{
 font-size:20px;
}

header p{
 font-size:12px;
}

/* Sp btn */
/* barアイコン表示 */
.btn{
 display:block;
 overflow:hidden;  /*アイコン２つ目を非表示*/
}

/* クリック時 */
.close i:first-child{
 display:none;
}

.close i:last-child{
 display:block;
}

/*ナビゲーション*/
nav ul{
 display:block;
 width:100%;
 position:fixed;
 top:55px;
 left:0;
 margin-left:100%;
 transition:0.3s;
}

.slide ul{
 margin-left:0;
}

nav li{
 width:auto;
}

nav a{
 border-top:1px solid #00f;
 background:rgba(200,200,255,0.9);
}

.wrap{
 display:block;
}

.html,.css{
 width:auto;
}

main p,main ol,main dl{
 font-size:14px;
}

main table{
 font-size:12px;
}

}