@charset "utf-8";

/*20210116 add*/
/*--CSS Reset Start--*/
/*ヘッダーの上下にマージンがあるのをゼロにする*/
html,body,h1,p,ul,li{
 margin:0;
 padding:0;
 line-height:1.0;
/*フォントMac:"Hiragino kaku Gothic ProN"*/
/*フォントWin:Meiryo*/
/*フォントその他ゴシック系:sans-serif*/
 font-family:"Hiragino kaku Gothic ProN",Meiryo,sans-serif;
 text-align:center;
}

img{
 border:none;
}

ul{
 list-style:none;  /*黒丸を非表示にする*/
}

a{
 text-decoration:none;  /*文字の下線を消す*/
 color:inherit;
}
/*--CSS Reset End--*/


/*20210116 add*/
/*CSS共通設定項目*/
header,footer{
 background:#fdd;
}



/*コンテンツ幅*/
/*20210115 add*/
/*<!--divにクラス属性をつけて、名前を付ける-->*/
/*.container{*/
/*div{*/
/* PC幅1000前後が通常*/
/*    width:960px;*/
/*  上下が0　左右がauto  */
/*    margin:0 auto;*/
/*白色の枠*/
/*    border:20px solid #fff;*/
/*    background:#fff;*/
/*    padding:20px;*/
/*}*/


/*index.html <style>〇〇〇</style>*/

header{
 padding:30px 0;
 margin-bottom:30px;
}

h1{
 color:#900;
 font-size:40px;
 font-weight:lighter;
/*背景画像を繰り返す　取り消す　繰り返さない*/
/*左右方向は、左、上下は中央　（初期設定は左で上）*/
 background:url(../img/logo.png) no-repeat left center;
/*フォントサイズ40pxに対し、背景画像が50pxなので、行高さ広げる*/
 line-height:50px;
/*　padding:5px 0;*/
/*文字が上付きになってしまうのでNG*/
/* height:50px;*/
/* h1幅、40pxが、11文字で、440px*/
    width:440px;
/*  上下が0　左右がauto　下が10*/
    margin:0 auto 10px;
    padding-left:55px;
}

header p{
 font-size:24px;
}


/*ナビゲーション*/
/*nav{*/
/* margin:30px 0;*/
/*}*/

nav ul{
 width:1000px;
 margin:0 auto 30px;
/* margin:30px auto;*/
/* padding:0;   初期値で40px入っているので消す*/
/*色*/
/*       background:#ccf;*/
/*20210115 add*/
 display:flex;
/*1000px 180x5=900px ボタン間に、余りを均等に配置*/
 justify-content:space-between;
 background:none;
}

/*ナビゲーション　文字（文言）*/
nav li{
/*       text-align:center;  文字をセンター*/
/*色*/
/*       background:#ccf;*/
/*20210115 add*/
/*幅960pxに対して、ボタン５個なので、１個192px*/
 width:180px;
/* font-size:12px;*/
 border:1px solid #777;
}

/*ナビゲーション　リンク*/
nav a{
/*文字だけ色*/
/* background:#fcc;*/
/* color:#000;*/
/*ブロックに色　幅を広げる（無いと文字だけ）*/
 display:block;
 padding:15px 0;
}

/*aの上　マウスを合わせたときの背景色を変更　文字を白*/
nav a:hover{
 background:#fcc;
 color:#900;
}

/*キービジュアル*/
.keyVis{
 margin-bottom:50px;
}

/*フッター*/
footer{
 padding:30px 0;
}