@charset "utf-8";

/*--CSS Reset Start--*/

/*ヘッダーの上下にマージンがあるのをゼロにする*/
html,body,h1,h2,h3,p,ul,li{
 margin:0;
 padding:0;
 line-height:1.0;
/*フォントMac:"Hiragino kaku Gothic ProN"*/
/*フォントWin:Meiryo*/
/*フォントその他ゴシック系:sans-serif*/
 font-family:"Hiragino kaku Gothic ProN",
　Meiryo,
　sans-serif;
/* text-align:center;*/
}

img{
 border:none;           /*画像の境界線を非表示にする*/
}

ul{
 list-style:none;       /*黒丸を非表示にする*/
}

a{
 text-decoration:none;  /*文字の下線を消す*/
 color:inherit;         /*文字の色を親要素から取得*/
}

/*--CSS Reset End--*/


/*--共通設定--*/
header,footer,h2{
 color:#fff;
 background:#090;
}


/*****<< コンテンツ幅設定 >>*****/
/***<< header,nav,(main,sidebar),footer >>***/
.container{
/* PC幅1000前後が通常*/
    width:960px;
/*  上下が0　左右がauto  */
    margin:0 auto;
/*白色の枠*/
/*    border:20px solid #fff;*/
/*    background:#fff;*/
/*    padding:20px;*/
}

/***<< (main,sidebar) >>***/
main{
 width:630px;
/* width:65.6%;*/
}

.sidebar{
 width:300px;
/* width:31.2%;*/
}

/*バナー広告サイズ*/
/*画像は縦横比は自動*/
.banner{
 width:300px;
 height:auto;
}


/*****<< ヘッダー >>*****/
header{
 background-image:url(../img/herbs2.jpg);
/*背景画像を繰り返す　取り消す　繰り返さない*/
/* background-repeat:no-repeat;*/
 height:200px;
/* margin-bottom:20px;*/
}

h1{
font-size:80px;
/*width:600px;*/
}

header p{
 font-size:24px;
/* width:600px;*/
/* clear:both;*/
}


/*****<< ナビゲーション>>*****/
nav ul{
/* width:960px;*/
 margin:0 auto 30px;
 display:flex;
/*960px 192x5=960px ボタン間に、余りを均等に配置*/
 justify-content:space-between;
 background:#050;
}

/*ナビゲーション　文字（文言）*/
nav li{
 text-align:center;
 color:#fff;
/*幅960pxに対して、ボタン５個なので、１個192px*/
/* width:192px;*/
 width:20%;
}

/*ナビゲーション　リンク*/
nav a{
/*ブロックに色　幅を広げる（無いと文字だけ）*/
 display:block;
 padding:15px 0;
}

/*aの上　マウスを合わせたときの背景色を変更　文字を白*/
nav a:hover{
 background:#f50;
 color:#fff;
}


/*****<< メインコンテンツ >>*****/

/*.container{*/
.wrap{
 display:flex;
 justify-content:space-between;
}


/*<< 2-1 オリジナルレシピ >>*/
h2{
 padding:5px;
 margin-bottom:20px;
 clear:both;
}

/*<< 3-1 タコのカルパッチョ >>*/
/*<< 3-2 シラスのペペロンチーノ >>*/
h3{
 padding:5px;
 margin-bottom:10px;
 background:#fff;
 border-left:15px solid #090;
 clear:both;
}

/*画像フロート*/
/*main img{*/
.herb{
 float:left;
/*マージン　上、右、下、左の時計回りに指定*/
 margin:0 20px 50px 0;
}


main p{
 line-height:1.5;
 margin-bottom:20px; 
}

/*.more:hover{*/
.more{
 background:#090;
 color:#fff;
 padding:5px 10px;
}


/*<< 2-2 カテゴリー >>*/
/*カテゴリー*/
.sidebar ul{
 margin-left:20px;
}

/*カテゴリー　文字（文言）*/
.sidebar li{
 height:50px;
/* margin-left:20px;*/
}

/*カテゴリー　リンク*/
.sidebar a{
/*ブロックに色　幅を広げる（無いと文字だけ）*/
 display:block;
 padding:15px 0;
}

/*aの上　マウスを合わせたときの背景色を変更　文字*/
.sidebar a:hover{
 border:1px solid #090;
 border-left:15px solid #090;
 border-right:15px solid #f50;
}

/*画像*/
.sidebar img{
 margin-top:20px;
}


/*****<< フッター >>*****/
footer{
 text-align:center;
 padding:20px 0;
 margin-top:50px;
}