@charset "utf-8";
html,body,h1,h2,ul,li,p{
margin: 0;
padding: 0;
line-height: 1;
font-family: sans-serif;
}
 
/* body背景色 */
body{
background:#ffc;
}
 
/*コンテンツ幅*/
.container{
max-width:960px;
margin:0 auto;
text-align: center;
}
 
/* リンク下線消す */
a{
text-decoration: none;
}
 
/*header*/
h1{
background-color: #900;
color:#fff;
padding:20px 0;
margin-bottom: 20px;
}
header p{
background-color: #eda;
color: #900;
border:1px solid #900;
padding: 10px 0;
margin-bottom: 10px;
}
 
/*Navigation*/
nav{
margin-bottom: 20px;
}
nav ul{
list-style: none;
padding: 0;
display: flex;
}
nav li{
width: 20%;
}
nav a{
color: #fff;
background: #900;
padding: 10px 0;
display:block;
}
nav a:hover{
background-color:#f70;
}  
 
/* Main content */
main{
text-align: left;
border-bottom: 1px solid #900;
display: flex;
justify-content: space-between;
padding: 20px 0 30px;
}
main section{
width: 32%;
}
/* h2見出し */
h2{
color:#fff;
background-color: #900;
padding: 5px;
margin-bottom: 10px;
}
img{
max-width: 100%;
margin-bottom:10px;
}
.txt{
line-height: 1.5;
height:11em;
}
/* 詳細を見る */
main a{
color: #900;
background-color: #fc0;
padding: 5px;
border: 1px solid #900;
}
main a:hover{
color: #fff;
background-color: #f00;
}
 
/*Footer*/
footer{
padding: 30px 0;
}
 
/*メディアクエリ*/
@media screen and (max-width:767px) {
    
/* ヘッダー */
header{
height: 100px;
background-size:cover ;
}
h1,header p{
margin: 0;
}
 
/* Navigation */
nav ul{
display:block ;
}
nav li{
width: auto;
}
 
/* 画像フロート */
main img{
float: none;
display: block;
margin: 0  auto 10px;
}
 
}