@charset "utf-8";

/* CSS Reset
   各ブラウザ（IE、FireFox、Chrome、safariなど）は、要素毎にデフォルトでスタイルを独自にもっており、ブラウザによって表示が異なる場合がある。それらの誤差を極力なくすために使用するスタイルシートを一般的に「リセットCSS」と呼ぶ。（ブロックレベル要素のみ）
   ※header/nav/main/aside/footer/divは記述しない場合もある
############################################# */
html
,body
,h1
,h2
,h3
,p
,ul
,li
{
 margin:0;
 padding:0;
 line-height:1.0;       /*行の高さ　単位を付けない*/
 font-family:"Hiragino kaku Gothic ProN"  /*Mac*/
 ,Meiryo                /*Win*/
 ,sans-serif;           /*その他ゴシック系*/
}
                        
img{
 border:none;           /*画像の境界線を非表示にする*/
                        /*画像にリンクを設定すると、一般的なブラウザでは自動的に境界線が表示される。*/
 vertical-align:bottom; /*初期設定画像の下の空白を取る*/
}

ul
/*,ol*/          /*※番号を使用する場合はolは記述しない*/
{
 list-style:none;       /*黒丸を非表示にする*/
}

a{
 text-decoration:none;  /*文字の下線を消す*/
 color:inherit;         /*文字の色を親要素から取得*/
}

/*table{*/
/* border-collapse:collapse;*//*隣接するセルの線を重ねて表示*/
                        /*border-collapseプロパティは、隣接するセルのボーダーを重ねて表示するか（collapse）、間隔をあけて表示するか（separate）を指定*/
/* border-spacing:0;*/ /*隣接するセルの線と線の間隔を指定*/
                        /*border-spacingプロパティは、隣接するセルのボーダーとボーダーの間隔を指定する際に使用します。border-spacingプロパティは、border-collapseプロパティの値がseparateのときに有効。値を1つ指定した場合： [上下左右]の間隔が指定された値。値を2つ指定した場合： 記述した順に[左右][上下]の間隔が指定された値。*/
/*}*/

*{                  /*ユニバーサルセレクタ（全称セレクタ）*/
                        /*アスタリスク（ * ）を記述してすべての要素を対象にスタイルを適用するセレクタ*/
 box-sizing:border-box; /*ボックスサイズの算出方法指定*/
                        /*値にborder-boxを指定すると、widthとheightで指定する幅と高さがボーダーボックスに対して適用されます。 内容領域にパディングとボーダーを含んだ範囲に対して幅と高さが適用されるため、 パディングとボーダーの分だけボックスサイズが小さくなります。*/
                        /*content-box:パディングとボーダーを幅と高さに含めない（初期値）*/
}



/* 共通設定
############################################# */

/* コンテンツ幅設定
   header,nav,(main,sidebar),footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* レスポンシヴウェブデザイン（RWD）
--------------------------------------------- */
.container
,.content_inner
{
/* width:960px;*/   /*PC幅1000前後が通常*/
 max-width:1440px;  /*♦最大幅を固定値:max-widthで設定*/
 padding:0 10px;      /*左右の余白調整*/
 margin:0 auto;     /*左右中央寄せ :上下 左右;*/
}

.pcnav li{
/* width:calc(100% / 7);*/  /* %で指定 */
                    /*♦横幅固定値に対して親ボックスに対する％で指定*/
                    /*コンテンツ幅に対し、(%/ボタン数)を考慮した、幅を指定*/
}

img{
 max-width:100%;    /*親要素のwidth幅の100%の値*/
                    /*♦フルードイメージ（Fluid Image）-ウィンドウサイズ（または親要素の幅）に応じて、縦横比を保持したまま自動的に画像が拡大・縮小するようにする手法、最大幅は元画像の幅*/
 height:auto;       /*横幅と同比率で高さも自動調整*/
}

/* 2カラムレイアウト
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header .container h1{
/* width:calc(100% * 120/1420);*/
}

.header .container .pcnav
{
/* width:calc(100% * 900/1420);*/
}

/*.box{*/
section.container{
 max-width:1200px;
/* max-width:calc(100% * 1200 / 1420);*/
}

.news_01{
 width:calc(100% / 4);
}

.left
,.right
,.footer_box
{
 width:calc(100% / 2);
}



.content-box-01{
 padding:100px 0 50px;
}

h2.ttl{
/* margin: 0 auto;*/
/* text-align: center;*/
/* line-height: 1.4;*/
/* letter-spacing: 2px;*/
/* font-size: 36px;*/
/* font-weight: bold;*/
/* color: #000;*/
 padding: 10px 0;
}



/* レイアウト設定
############################################# */
.header .container
,.pcnav ul
,.box
,footer .content_inner
,ul.footer_nav01
,.footer_nav02
{
 display:flex;
}

.header .container
,.box
,ul.footer_nav01
{
 justify-content:space-between;
 align-items:flex-end;
/* align-items:center;*/
}





footer
,.footer_nav01
{
 text-align:left;
}

.footer_nav02
{
 justify-content:flex-end;
}

.product_box{
 display:flex;
}

.news{
/* display:block;*/
/* text-align:center;*/
}

.more a{
 display:block;
}



/* 個別設定
############################################# */
/* 0-2-1/4 <HEADER> ヘッダー
============================================= */
header
,footer
{
 color:#fff;
 background-color:#023f73;
}

.header{
 position:fixed;
 top:0;
 width:100%;
 padding:1% 0;
 background-color:#023f73;
 z-index:100;
}

.header h1{
 font-size:13px;
}



/* 0-2-2/4 <NAV> ナビゲーション
============================================= */
/* 0-2-2(1/2) <PCNAV> パソコン用
_____________________________________________ */
.pcnav ul{
 text-align:center;
 font-size:13px;
}

.pcnav ul a{
 display:block;
 color:#fff;
 padding:10px;
/* border:1px solid #fff;*/
}

li.nav_contact{
 width:190px;
margin:0 20px;
}

li.nav_contact a{
 color:#000;
 background-color:#fff;
}

li.nav_cart{
 width:190px;
}

.pcnav ul .nav_cart a
{
 background-color:#78a7fc;
/* border:1px solid #fff;*/
}



/* :hover 疑似クラス (ホバー状態の <a> 要素を選択)
カーソル（マウスポインタ―）で要素の上をホバー（通過）させたときにこの状態になる
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.pcnav li a:hover{
}


/* 0-2-2(2/2) <SPNAV> スマホ用
_____________________________________________ */
#nav
,.btn{
 display:none;
}



/* 0-2-0 <DIV> キーヴィジュアル
============================================= */



/* レスポンシヴウェブデザイン（RWD）
---------------------------------------------*/


/* 0-2-0 <DIV> スライダー
============================================= */



/* 0-2-3/4 <MAIN> メインコンテンツ
============================================= */
.view-more
,.view-more_02
{
 width:240px;
 height:60px;
 margin:0 auto;
 border:1px solid #0f3f73;
 text-align:center;
/* position:relative;*/
/* box-sizing:border-box;*/
/* overflow:hidden;*/
}

.view-more a
,.view-more_02 a
{
 font-size:14px;
 line-height:60px;
}

.view-more_02{
 margin:80px auto 0;
}

.box{
 flex-wrap:wrap;
 margin-bottom: 60px;
}


/* 0-2-3(1/7) SECTION news
_____________________________________________ */
/*section{*/
/* text-align:center;*/
/*}*/

.content-box-01{
 padding:100px 0 50px;
}

p.sub-tex {
 margin-bottom:60px;
/* text-align:center;*/
}


/* 0-2-3(2/7) SECTION vision
_____________________________________________ */
.box.flex-end{
 justify-content:flex-start;
}

.content-box{
 padding:60px 0;
}

h3.ttl{
 margin:9% auto;
}

.box-inner p{
 max-width:600px;
 margin:0 auto;
 padding:2%;
 line-height:2.2;
 font-size:15px;
 text-align:left;
}


/* 0-2-3(3/7) SECTION company
_____________________________________________ */
p.sub-txt{
 margin-bottom:60px;
/* text-align:center;*/
}


/* 0-2-3(4/7) SECTION product
_____________________________________________ */


/* 0-2-3(5/7) SECTION pillows
_____________________________________________ */


/* 0-2-3(6/7) SECTION recruit
_____________________________________________ */


/* 0-2-3(7/7) SECTION online-shop
_____________________________________________ */





/* 0-2-4/4 <FOOTER> フッター
============================================= */
footer .content_inner{
 padding:5% 2%;
}

ul.footer_nav01{
 font-size:10px;
 margin-bottom:3%;
}

ul.footer_nav02{
 font-size:10px;
 margin-bottom:10%;
}

p.copy{
 font-size:10px;
 line-height:1.5;
 text-align:right;
}





/* レスポンシヴウェブデザイン（RWD）
   PC、タブレット、スマートフォンなど、あらゆるデバイスに最適化したWebサイトを、単一のHTMLで実現する制作手法。
   スマートフォンやタブレットからのアクセス数が増加している今、レスポンシブWebデザインはモバイル対応に非常に有効と言える。
--------------------------------------------- */
/* ♦メディアクエリー設定（ブレイクポイント）
============================================= */
@media screen and (max-width:899px){
/* レイアウト設定
############################################# */

