@charset "utf-8";
 
html,body,h1,p,ul,li{
margin: 0;
padding: 0;
line-height: 1;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
ul{
list-style: none;
}
img{
border: none;
vertical-align: bottom;
}
a{
text-decoration: none;
}
/*------ 全体囲み ------*/
.container {
width: 600px;
margin: 20px auto;
background-color: #fac;
}
.wrap{
display: flex;
justify-content: space-between;
padding: 30px;
}
/*------ h1 ------*/
h1 {
background-color: #F39;
padding: 10px 0 10px 30px;
color: #FFF;
}
 
/*------ メニューリスト ------*/
 
li {
width: 110px;
line-height: 30px;
text-align: center;
margin-bottom: 10px;
}
/*------ リンク設定 ------*/
a {
display: block;
background: #FFF;
color: #999;
}
/*------ ロールオーバート ------*/
a:hover{
background:#F39;
color:#FFF;
}